#include "..\..\Masm32\include\resource.h"
#include "res.h"

IDC_MAINICON ICON MOVEABLE PURE LOADONCALL DISCARDABLE "Resources\\MainIcon.ICO"
IDC_BUTTONS BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Resources\\BUTTONS.BMP"
IDC_TREEVIEWITEMS BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Resources\\TreeIcons.bmp"
IDC_TREEVIEWMASK BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Resources\\TreeMask.bmp"
IDC_BIGICON ICON MOVEABLE PURE LOADONCALL DISCARDABLE "Resources\\LOR.ICO"



IDC_SPLITV CURSOR MOVEABLE PURE LOADONCALL DISCARDABLE     "Resources\\SplitV.cur"
IDC_SPLITH CURSOR MOVEABLE PURE LOADONCALL DISCARDABLE     "Resources\\SplitH.cur"

MainMenu MENU
{
    POPUP "&Файл"{
        MENUITEM "Соединение с...",IDM_CONNECTTO
        MENUITEM SEPARATOR
        MENUITEM "&Выход",IDM_EXIT
    }
    POPUP "&SCM"{
        MENUITEM "Права доступа",IDM_SCM_ACCESS
        MENUITEM SEPARATOR
        MENUITEM "Открыть",IDM_SCM_OPEN
        MENUITEM "Закрыть",IDM_SCM_CLOSE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Заблокировать",IDM_SCM_LOCK, GRAYED
        MENUITEM "Разблокировать",IDM_SCM_UNLOCK, GRAYED
    }
    POPUP "&Сервис"{
        MENUITEM "Права доступа",IDM_SERV_ACCESS
        MENUITEM SEPARATOR
        MENUITEM "Создать\tIns",IDM_SERV_NEW, GRAYED
        MENUITEM "Редактировать\tEnter",IDM_SERV_EDIT, GRAYED
        MENUITEM "Удалить\tDel",IDM_SERV_DELETE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Старт",IDM_SERV_START, GRAYED
        MENUITEM "Стоп",IDM_SERV_STOP, GRAYED
        MENUITEM "Пауза",IDM_SERV_PAUSE, GRAYED
        MENUITEM "Возобновить",IDM_SERV_RESUME, GRAYED
        MENUITEM "Рестарт",IDM_SERV_RESTART, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Управление",IDM_SERV_IOCONTROL, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Обновить",IDM_REFRESH, GRAYED
    }
    POPUP "&Помощь"{
        MENUITEM "&Помощь",IDM_HELP
        MENUITEM SEPARATOR
        MENUITEM "О программе",IDM_ABOUT
    }
}

TreeViewMenu MENU
{
    POPUP "&Файл"{
        MENUITEM "Соединение с...",IDM_CONNECTTO
        MENUITEM "Экспорт",IDM_EXPORT
    }
}


MainAccel ACCELERATORS 
BEGIN 
    VK_F1, IDM_HELP, VIRTKEY
END 

ServAccel ACCELERATORS 
BEGIN 
    VK_INSERT, IDM_SERV_NEW, VIRTKEY
    VK_RETURN,IDM_SERV_EDIT, VIRTKEY
    VK_DELETE,IDM_SERV_DELETE, VIRTKEY
    VK_F1, IDM_HELP, VIRTKEY
END 

STRINGTABLE DISCARDABLE
BEGIN
    IDB_SCM_OPEN     "Открыть соединение с SCM"
    IDB_SCM_CLOSE    "Закрыть соединение с SCM"
    IDB_SERV_NEW     "Зарегистрировать сервис"
    IDB_SERV_EDIT    "Изменить параметры сервиса"
    IDB_SERV_DELETE  "Удалить сервис"
    IDB_SERV_START   "Старт"
    IDB_SERV_STOP    "Стоп"
    IDB_SERV_PAUSE   "Пауза"
    IDB_SERV_RESUME  "Возобновить"
    IDB_SERV_RESTART "Рестарт"
    IDB_REFRESH      "Обновить"
    IDB_HELP         "Помощь"
END

IDD_ABOUT DIALOG DISCARDABLE 0, 0, 176, 74
STYLE WS_CAPTION|DS_CENTER|WS_POPUP|WS_SYSMENU|DS_MODALFRAME
FONT 8, "MS Sans Serif"
CAPTION "О программе"
BEGIN
    ICON       IDC_BIGICON, -1,  4, 4,  32, 32
    LTEXT      "Service Manager 1.0", -1, 32, 4, 140, 11
    LTEXT      "Copyright\251 2008 Yorm Lokison", -1, 32, 14, 140, 11

    CONTROL    "", -1, "Static", WS_VISIBLE|SS_ETCHEDHORZ, 30, 24, 144, 11

    LTEXT      "Разработчик: Иванцов Илья Сергеевич", -1, 32, 30, 140, 11
    LTEXT      "E-mail: ", -1, 32, 38, 30, 11
    LTEXT      "YormLokison@yandex.ru", IDC_ABOUT_DEVMAIL, 57, 40, 80, 11

    CONTROL    "", -1, "Static", WS_VISIBLE|SS_ETCHEDHORZ, 30, 51, 144, 11

    DEFPUSHBUTTON "ОК", IDC_OK, 122, 57, 50, 13
END

IDD_SCM_ACCESS DIALOG DISCARDABLE 0, 0, 168, 139
STYLE WS_CAPTION|DS_CENTER|WS_POPUP|WS_SYSMENU|DS_MODALFRAME
FONT 8, "MS Sans Serif"
CAPTION "Права доступа к SCM"
BEGIN
    GROUPBOX "", -1, 4, 0, 160, 118

    CHECKBOX "SC_MANAGER_ALL_ACCESS",  IDC_SCM_ALL_ACCESS, 10, 8, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "STANDARD_RIGHTS_READ", IDC_SCM_STANDARDREAD, 10, 20, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "STANDARD_RIGHTS_WRITE", IDC_SCM_STANDARDWRITE, 10, 32, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "SC_MANAGER_CONNECT", IDC_SCM_CONNECT, 10, 44, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "SC_MANAGER_CREATE_SERVICE", IDC_SCM_CREATE_SERVICE, 10, 56, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "SC_MANAGER_ENUMERATE_SERVICE", IDC_SCM_ENUMERATE_SERVICE, 10, 68, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "SC_MANAGER_MODIFY_BOOT_CONFIG", IDC_SCM_MODIFY_BOOT_CONFIG, 10, 80, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "SC_MANAGER_LOCK", IDC_SCM_LOCK, 10, 92, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "SC_MANAGER_QUERY_LOCK_STATUS", IDC_SCM_QUERY_LOCK_STATUS, 10, 104, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP

    DEFPUSHBUTTON "OK", IDC_OK, 60, 122, 50, 13
    PUSHBUTTON "Отмена", IDC_CANCEL, 114, 122, 50, 13
END

IDD_SERV_ACCESS DIALOG DISCARDABLE 0, 0, 166, 199
STYLE WS_CAPTION|DS_CENTER|WS_POPUP|WS_SYSMENU|DS_MODALFRAME
FONT 8, "MS Sans Serif"
CAPTION "Права доступа к сервисам"
BEGIN
    GROUPBOX "", -1, 4, 0, 158, 178

    CHECKBOX "SERVICE_ALL_ACCESS",  IDC_SERV_ALL_ACCESS, 10, 8, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "DELETE",  IDC_SERV_DELETE, 10, 20, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "READ_CONTROL",  IDC_SERV_READ_CONTROL, 10, 32, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "WRITE_DAC",  IDC_SERV_WRITE_DAC, 10, 44, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "WRITE_OWNER",  IDC_SERV_WRITE_OWNER, 10, 56, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "SERVICE_QUERY_CONFIG", IDC_SERV_QUERY_CONFIG, 10, 68, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "SERVICE_CHANGE_CONFIG", IDC_SERV_CHANGE_CONFIG, 10, 80, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "SERVICE_QUERY_STATUS", IDC_SERV_QUERY_STATUS, 10, 92, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "SERVICE_ENUMERATE_DEPENDENTS", IDC_SERV_ENUMERATE_DEPENDENTS, 10, 104, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "SERVICE_START", IDC_SERV_START, 10, 116, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "SERVICE_STOP", IDC_SERV_STOP, 10, 128, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "SERVICE_PAUSE_CONTINUE", IDC_SERV_PAUSE_CONTINUE, 10, 140, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "SERVICE_INTERROGATE", IDC_SERV_INTERROGATE, 10, 152, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "SERVICE_USER_DEFINED_CONTROL", IDC_SERV_USER_DEFINED_CONTROL, 10, 164, 150, 10, BS_AUTOCHECKBOX | WS_TABSTOP

    DEFPUSHBUTTON "OK", IDC_OK, 58, 182, 50, 13
    PUSHBUTTON "Отмена", IDC_CANCEL, 112, 182, 50, 13
END


IDD_SERVICE_PROPERTIES DIALOG DISCARDABLE  0, 0, 260, 255
EXSTYLE WS_EX_CONTROLPARENT
STYLE WS_CAPTION|DS_CENTER|WS_POPUP|WS_SYSMENU|DS_MODALFRAME
FONT 8, "MS Sans Serif"
CAPTION "Свойства сервиса"
BEGIN
    CONTROL "",IDC_SERV_TAB,"SysTabControl32", WS_CHILD|WS_TABSTOP|WS_CLIPSIBLINGS, 4, 4, 252,230

    DEFPUSHBUTTON "OK", IDC_OK, 97, 238, 50, 13
    PUSHBUTTON "Отмена", IDC_CANCEL, 151, 238, 50, 13
    PUSHBUTTON "Применить", IDC_APPLY, 206, 238, 50, 13
END

IDD_SERV_GENERAL DIALOG 0,0,252,217
STYLE WS_TABSTOP|DS_CONTROL|WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT "Внутренние имя:", -1, 4, 6, 90, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SG_SNAME, 86, 4, 158, 13, WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL
    LTEXT "Отображаемое имя:", -1, 4, 23, 90, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SG_DNAME, 86, 21, 158, 13, WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL
    LTEXT "Тип сервиса:", -1, 4, 40, 90, 10, WS_CHILD|WS_VISIBLE
    COMBOBOX IDC_SG_TYPE, 86, 38, 158, 78, WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_VSCROLL|CBS_DROPDOWNLIST|CBS_AUTOHSCROLL
    CHECKBOX "SERVICE_INTERACTIVE_PROCESS", IDC_SG_INTERACTIVFLAG, 86, 55, 158, 10, WS_TABSTOP|BS_AUTOCHECKBOX
    LTEXT "Тип запуска:", -1, 4, 71, 90, 10, WS_CHILD|WS_VISIBLE
    COMBOBOX IDC_SG_STARTTYPE, 86, 69, 158, 78, WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_VSCROLL|CBS_DROPDOWNLIST|CBS_AUTOHSCROLL
    LTEXT "Контроль ошибок:", -1, 4, 88, 90, 10, WS_CHILD
    COMBOBOX IDC_SG_ERRORTYPE, 86, 86, 158, 78, WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_VSCROLL|CBS_DROPDOWNLIST|CBS_AUTOHSCROLL
    LTEXT "Группа:", -1, 4, 105, 90, 10, WS_CHILD|WS_VISIBLE
    COMBOBOX IDC_SG_GROUP, 86, 103, 158, 78, WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_VSCROLL|CBS_DROPDOWNLIST|CBS_AUTOHSCROLL
    LTEXT "Тег:", -1, 4, 122, 90, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SG_TAG, 86, 120, 158, 13, WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL
    LTEXT "Путь:", -1, 4, 139, 40, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SG_PATH, 36, 137, 190, 13, WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL
    PUSHBUTTON "...", IDC_SG_PCHANGE, 230, 137, 14, 13, WS_CHILD|WS_VISIBLE|WS_TABSTOP
    LTEXT "Описание:", -1, 4, 156, 60, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT  IDC_SG_DESCRIPTION, 4, 167, 240, 44, WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_VSCROLL|ES_AUTOVSCROLL|ES_MULTILINE
END

IDD_SERV_LOGON DIALOGEX 0,0,252,217
STYLE WS_TABSTOP|DS_CONTROL|WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT "Запускать от:", -1, 4, 6, 90, 10, WS_CHILD|WS_VISIBLE
    CONTROL "Учетная запись Local System", IDC_SL_LOCALSYSTEM, "BUTTON", WS_CHILD|WS_TABSTOP|WS_GROUP|BS_AUTORADIOBUTTON|BS_TEXT|BS_TOP, 6, 18, 190, 10,  
    CONTROL "Учетная запись:", IDC_SL_ANOTHER_ACCOUNT, "BUTTON", WS_CHILD|WS_TABSTOP|BS_AUTORADIOBUTTON|BS_TEXT|BS_TOP, 6, 32, 70, 10 
    EDITTEXT IDC_SL_ACCOUNT, 86, 30, 158, 13, WS_DISABLED|WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL
    LTEXT "Пароль:", -1, 18, 49, 90, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SL_PASS, 86, 47, 158, 13, WS_DISABLED|WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_PASSWORD
    LTEXT "Подтверждение:", -1, 18, 66, 90, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SL_CONFIRM, 86, 64, 158, 13, WS_DISABLED|WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_PASSWORD
END

IDD_SERV_RECOVERY DIALOGEX 0,0,252,217
STYLE WS_TABSTOP|DS_CONTROL|WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT "Первый сбой:", -1, 4, 6, 90, 10, WS_CHILD|WS_VISIBLE
    COMBOBOX IDC_SR_FIRST, 86, 4, 158, 78, WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_VSCROLL|CBS_DROPDOWNLIST|CBS_AUTOHSCROLL
    LTEXT "Второй сбой:", -1, 4, 23, 90, 10, WS_CHILD|WS_VISIBLE
    COMBOBOX IDC_SR_SECOND, 86, 21, 158, 78, WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_VSCROLL|CBS_DROPDOWNLIST|CBS_AUTOHSCROLL
    LTEXT "Последующие:", -1, 4, 40, 90, 10, WS_CHILD|WS_VISIBLE
    COMBOBOX IDC_SR_THIRD, 86, 38, 158, 78, WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_VSCROLL|CBS_DROPDOWNLIST|CBS_AUTOHSCROLL

    LTEXT "Обнулить счетчик сбоев через:", -1, 4, 57, 140, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SR_FCDELAY, 162, 55, 64, 13, WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL
    LTEXT "сek", -1, 229, 57, 17, 10, WS_CHILD|WS_VISIBLE
    LTEXT "Рестарт сервиса через:", -1, 4, 74, 140, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SR_SRDELAY, 162, 72, 64, 13, WS_DISABLED|WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL
    LTEXT "мс", -1, 229, 74, 17, 10, WS_CHILD|WS_VISIBLE
    LTEXT "Рестарт компьютера через:", -1, 4, 91, 140, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SR_CRDELAY, 162, 89, 64, 13, WS_DISABLED|WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL
    LTEXT "мс", -1, 229, 91, 17, 10, WS_CHILD|WS_VISIBLE

    LTEXT "Программа:", -1, 4, 108, 40, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SR_PATH, 56, 106, 170, 13, WS_DISABLED|WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL
    PUSHBUTTON "...", IDC_SR_PCHANGE, 230, 106, 14, 13, WS_DISABLED|WS_CHILD|WS_VISIBLE|WS_TABSTOP
    LTEXT "Сообщение:", -1, 4, 125, 60, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT  IDC_SR_MESSAGE, 4, 136, 240, 75, WS_DISABLED|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_VSCROLL|ES_AUTOHSCROLL|ES_AUTOVSCROLL|ES_MULTILINE
END

IDD_SERV_DEPENDENCIES DIALOGEX 0,0,252,217
STYLE WS_TABSTOP|DS_CONTROL|WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX IDC_SD_SERVICE, 4, 4, 166, 130, WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_VSCROLL|CBS_DROPDOWN|CBS_AUTOHSCROLL
    PUSHBUTTON "Добавить сервис", IDC_SD_ADD_SERVICE, 174, 4, 70, 13, WS_CHILD|WS_VISIBLE|WS_TABSTOP
    COMBOBOX IDC_SD_GROUP, 4, 21, 166, 130, WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_VSCROLL|CBS_DROPDOWN|CBS_AUTOHSCROLL
    PUSHBUTTON "Добавить группу", IDC_SD_ADD_GROUP, 174, 21, 70, 13, WS_CHILD|WS_VISIBLE|WS_TABSTOP
    LISTBOX IDC_SD_DEPENDENCIES, 4, 38, 166, 173, WS_CHILD|WS_TABSTOP|WS_VSCROLL|LBS_HASSTRINGS|LBS_NOINTEGRALHEIGHT
    PUSHBUTTON "Удалить", IDC_SD_DEL_SERVICE, 174, 38, 70, 13, WS_CHILD|WS_VISIBLE|WS_TABSTOP
    PUSHBUTTON "Вверх", IDC_SD_UP, 174, 55, 70, 13, WS_CHILD|WS_VISIBLE|WS_TABSTOP
    PUSHBUTTON "Вниз", IDC_SD_DOWN, 174, 72, 70, 13, WS_CHILD|WS_VISIBLE|WS_TABSTOP
END

IDD_SERV_CONTROL DIALOG DISCARDABLE 0, 0, 220, 191
STYLE WS_CAPTION|DS_CENTER|WS_POPUP|WS_SYSMENU|DS_MODALFRAME
FONT 8, "MS Sans Serif"
CAPTION "Управление сервисом"
BEGIN
    GROUPBOX "Статус", -1, 4, 2, 212, 131

    LTEXT "dwServiceType:", -1, 10, 14, 90, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SCTRL_TYPE, 86, 12, 124, 13, WS_CHILD|WS_VISIBLE|ES_AUTOHSCROLL|ES_READONLY
    LTEXT "dwCurrentState:", -1, 10, 31, 90, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SCTRL_STATUS, 86, 29, 124, 13, WS_CHILD|WS_VISIBLE|ES_AUTOHSCROLL|ES_READONLY
    LTEXT "dwControlsAccepted:", -1, 10, 48, 90, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SCTRL_OPERATION, 86, 46, 124, 13, WS_CHILD|WS_VISIBLE|ES_AUTOHSCROLL|ES_READONLY
    LTEXT "dwWin32ExitCode:", -1, 10, 65, 90, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SCTRL_WIN32EXITCODE, 86, 63, 124, 13, WS_CHILD|WS_VISIBLE|ES_AUTOHSCROLL|ES_READONLY
    LTEXT "dwServiceExitCode:", -1, 10, 82, 90, 10, WS_CHILD
    EDITTEXT IDC_SCTRL_SERVEXITCODE, 86, 80, 124, 13, WS_CHILD|WS_VISIBLE|ES_AUTOHSCROLL|ES_READONLY 
    LTEXT "dwCheckPoint:", -1, 10, 99, 90, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SCTRL_CHECKPOINT, 86, 97, 124, 13, WS_CHILD|WS_VISIBLE|ES_AUTOHSCROLL|ES_READONLY
    LTEXT "dwWaitHint:", -1, 10, 116, 90, 10, WS_CHILD|WS_VISIBLE
    EDITTEXT IDC_SCTRL_WAITHINT, 86, 114, 124, 13, WS_CHILD|WS_VISIBLE|ES_AUTOHSCROLL|ES_READONLY

    PUSHBUTTON "Старт", IDC_SCTRL_START, 4, 138, 50, 13
    PUSHBUTTON "Стоп", IDC_SCTRL_STOP, 58, 138, 50, 13
    PUSHBUTTON "Пауза", IDC_SCTRL_PAUSE, 112, 138, 50, 13
    PUSHBUTTON "Возобновить", IDC_SCTRL_RESUME, 166, 138, 50, 13

    EDITTEXT IDC_SCTRL_USERCODE, 4, 155, 158, 13, WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL
    PUSHBUTTON "Код", IDC_SCTRL_CONTROL, 166, 155, 50, 13

    PUSHBUTTON "Обновить", IDC_SCTRL_REFRESH, 112, 174, 50, 13
    DEFPUSHBUTTON "Закрыть", IDC_CANCEL, 166, 174, 50, 13
END

IDD_CONNECT_TO DIALOGEX 0,0,260,62
STYLE WS_CAPTION|DS_CENTER|WS_POPUP|WS_SYSMENU|DS_MODALFRAME
FONT 8, "MS Sans Serif"
CAPTION "Подключение к удаленному компьютеру"
BEGIN
    GROUPBOX "Выберите компьютер", -1, 4, 0, 252, 41
    CONTROL "Локальный компьютер", IDC_CT_LOCAL, "BUTTON", WS_CHILD|WS_TABSTOP|WS_GROUP|BS_AUTORADIOBUTTON|BS_TEXT|BS_TOP, 10, 10, 100, 10,  
    CONTROL "Удаленный компьютер:", IDC_CT_REMOTE, "BUTTON", WS_CHILD|WS_TABSTOP|BS_AUTORADIOBUTTON|BS_TEXT|BS_TOP, 10, 24, 100, 10 
    EDITTEXT IDC_CT_COMPNAME, 110, 22, 140, 13, WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL

    DEFPUSHBUTTON "OK", IDC_OK, 150, 45, 50, 13
    PUSHBUTTON "Отмена", IDC_CANCEL, 206, 45, 50, 13
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x0L
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "The program is to manage the services and the drivers installed on the PC. It enables to register, change the configuration and unregister the service or the driver as well as run and stop the service/driver.\0"
            VALUE "CompanyName", "Yorm Lokison\0"
            VALUE "FileDescription", "Service and Kernel Driver Manager v1.0\0"
            VALUE "FileVersion", "1, 0, 0, 0\0"
            VALUE "InternalName", "ServiceMenager\0"
            VALUE "LegalCopyright", "Copyright\251 Yorm Lokison, 2008\0"
            VALUE "OriginalFilename", "ServiceManager.exe\0"
            VALUE "ProductName", "Service and Kernel Driver Manager\0"
            VALUE "ProductVersion", "1, 0, 0, 0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END